{% extends "base.template.twig" %}

{% block title %}
<title>Správa recenzí</title>
{% endblock %}

{% block body %}

    {% include("navbar.template.twig") %}

    
    <div class="container">
        <div class="tablediv">
        <h2 class="lefttext">Správa recenzí</h2>

        <div style="clear: both;"></div>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Pokrm</th>
                <th>Hodnocení</th>
                <th>Uživatel</th>
                <th>Komentář</th>
                <th>Schované</th>
                <th>&nbsp&nbspAkce</th>

            </tr>
            </thead>
            <tbody>
            {% for review in reviews %}
            <tr>
                <td>{{review.name}}</td>
                <td>{{review.rating}}/10</td>
                <td>{{review.id_user}}</td>
                <td>{{review.comment | raw}}</td>
                {% if review.hidden == 0 %}
                <td>NE</td>
                {% else %}
                <td>ANO</td>
                {% endif %}

                <td class="actionbuttons">
                    <form method="POST" action="">
                        <input type="hidden" name="id" value="{{review.id}}">
                            {% if review.hidden == 0 %}
                                <button class="tablebuttontext text-primary" type="submit" name="action" value="hide">Schovat</button> 
                            {% else %}
                                <button class="tablebuttontext text-primary" type="submit" name="action" value="show">Zobrazit</button> 
                            {% endif %}
                                &nbsp 
                                <button class="tablebuttontext text-danger" type="submit" name="action" value="delete">Odebrat</button>     
                    </form>
                </td>
                       
            </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>

{% endblock %}


{% block scripts %}
<script src="js/uvod.js"></script>
{% endblock %}